* {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: var(--branco-figma);
}

.pedidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 51px 15px 15px 19px;
    gap: 13px;
}